swagger: "2.0"
info:
  version: 0.0.1
  title: Notif.me API reference
  description: API to send emails, webpushs, and other notifications.
  contact:
    name: Notif.me support
    email: contact@notif.me
    url: https://www.notif.me
host: www.notif.me
basePath: /api
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /notification:
    get:
      description: Returns all notification requests you have sent to the API.
      operationId: findAllRequests
      responses:
        200:
          description: request response
          schema:
            type: array
            items:
              $ref: '#/definitions/Request'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      description: Creates a new notification request.
      operationId: postRequest
      parameters:
        - name: request
          in: body
          description: Raw request
          required: true
          schema:
            $ref: '#/definitions/NewRequestParams'
      responses:
        200:
          description: new request response
          schema:
            $ref: '#/definitions/NewRequestResponse'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /notification/{id}:
    get:
      description: Returns a notification request by id
      operationId: getRequest
      parameters:
        - name: id
          in: path
          description: ID of request to fetch
          required: true
          type: string
      responses:
        200:
          description: request response
          schema:
            $ref: '#/definitions/Request'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Request:
    required:
      - id
      - raw
    properties:
      id:
        type: string
      raw:
        $ref: '#/definitions/NewRequestParams'
  NewRequestParams:
    required:
      - toUserId
    properties:
      toUserId:
        type: string
  NewRequestResponse:
    required:
      - id
      - date
    properties:
      id:
        type: string
      date:
        type: string
        format: date-time
  Error:
    required:
      - status
      - type
      - message
    properties:
      status:
        type: integer
        format: int32
      type:
        type: string
      message:
        type: string
externalDocs:
  description: Documentation homepage
  url: https://notifme.github.io/notifme-docs/
