---
---

@import "{{ site.theme }}";

header {
  h1 {
    font-size: 42px;
  }
}

#main-content {
  h2 {
    font-size: 26px;
    color: #666;

    &:before {
      content: "/";
      padding-right: 0.3em;
    }
  }

  h3 {
    font-size: 22px;
    color: #666;

    &:before {
      content: "//";
      padding-right: 0.3em;
    }
  }

  a {
    color: #637e9b;
  }
}
